@import url('https://api.fonts.coollabs.io /css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: hsl(0, 0%, 90%);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

a{
    color: currentColor;
    font-weight: bold;
}

button{
    color: currentColor;
    background: hsl(0, 0%, 15%);
    border-radius: 3px;
    border: 2px solid transparent;
    padding: .4rem 0;
}

button:hover {
    background: hsl(0, 0%, 5%);
    border: 2px solid hsl(0, 0%, 10%);
}

/* LOGIN */
.login-section{
    display: grid;
    place-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.login-logo{
    color: red;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.name{
    font-size: 3.5rem;
    text-transform: uppercase;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.login-put, .input-bar {
    border: 3px solid;
    background: black;
    color: var(--foreground);
    font-size: 1.2rem;
    outline: none;
    line-height: 200%;
    padding-left: 0.5rem;
    width: 400px;
}

/* APP */
#logged {
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

header{
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 50%);
    padding: 0 1rem;
}

header .left, header .right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo{
    color: red;
}

header .status{
    color: red;
}

main{
    display: flex;
    padding-top: 1rem;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    word-break: break-all !important;
}

#chnnelInfo{
    max-width: 13em;
}

#closereply {
    display: none
}

[id^=server],
[id^=chan],
[id^=dm] {
    width: 15em;
    outline: 0;
    border-color: rgba(0, 0, 0, 0)
}

[id^=chan]{
    width: 100%;
}

#dms, #servers{
    width: 100%;
}

.msg,
.messagecont {
    white-space: pre-wrap;
    padding-bottom: 5px;
    max-width: 80% !important;
}

.msg{
    color: hsl(0, 0%, 65%);
}

#author {
    color: hsl(0, 0%, 90%);
    display: inline-block;
}

#central {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    /* width: 100%; */
    flex: auto;
}

#channelDesc{
    font-size: 0.8rem;
}

.messagecont,
.message {
    white-space: nowrap;
    display: block;
}

#replymsg {
    display: block
}

#messages {
    font-size: 0.9em;
    overflow: auto;
    backface-visibility: hidden;
    height: 70vh;
}

img {
    max-width: 600px;
}
